.emphasized {
    margin-top: 3rem;
}

.emphasized .emphasized_buttons .btn, .btn-secondary {
    font-size: 1.1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.emphasized .emphasized_buttons a {
    color: white;
    width: 200px;
    height: 46px;
    display: inline-block;
}