* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #3c50e0;
  --black: #1c2434;
}
html {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
  /* font-weight: "400"; */
}
.App {
  overflow-x: hidden;
}
