* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #3C50E0;
  --black: #1C2434;
}
html {
  &::-webkit-scrollbar {
      width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
  }
  scroll-behavior: smooth;
  overflow-x: hidden; 

}
body {
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}
.App {
 
  overflow-x: hidden;
}